/*
	Weekly Calendar
	by Nathan Smith
*/

.hour
{
	background: #ffe;
	color: #c66;
	padding: 0 10px 0 0;
	text-align: right;
	vertical-align: middle;
	width: 65px;
}

.odd
{
	background-image: url(../img/odd.png);
}

* html .odd
{
	background-image: none;
}


table.calendar
{
	background-color: #e8f6ff;
	color: #666;
	font: 10px Verdana, sans-serif;
	border-style: solid;
	border-width: 1px 1px 0 0;
	margin: 0 auto;
}

table.calendar  td
{
	border-style: solid;
	border-width: 0 0 1px 1px;
	padding: 5px;
	vertical-align: top;
	width: 100px;
}

table.calendar td a
{
	color: #33f;
}

table.calendar  td a:hover
{
	text-decoration: underline;
}

table.calendar td.footer
{
	text-align: center;
	background-color: white;
}

table.calendar th
{
	background-color: white !important;
	background-image: url('../img/th.gif')!important;
	background-repeat: repeat-x !important;
	background-position: bottom left !important;
	border-style: solid;
	border-width: 0 0 1px 1px;
	color: #933 !important;
	font-size: 11px;	
	font-weight: normal !important;
	letter-spacing: 2px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 25px;
	padding: 0;
}

table.calendar  td:hover
{
	background: #ff9;
	color: #000;
	font-weight: bold;
}

table.calendar  td.busy{
	background: #FF0000;
	text-align: center;
}