/* =============================================================================

	STYLE.CSS
	version: 1.6
	updated: 2009-03-06, 13:00 GMT+1

============================================================================= */

/* =============================================================================
HTML - styles
============================================================================= */

body {background-color:#6699FF; color:#303030;}
a {color:#0085cc;}
a:hover, a:active, a:focus {color:#df0000;}
#content h2 {color:#0085cc;}
#content table {border:2px solid #cfcfcf;}
#content table caption {color: #0085cc; font-weight:bold; font-size: 15px;}
#content table th {border-right:1px solid #0074B3; background-color:#0085cc; color:#fff;}
#content table td {border:1px solid #cfcfcf;}
#content table td.center {text-align:center;}
#content table tr td span {color: red; font-weight:bold;}
#content table tr.bg td {background-color:#e8f6ff;}
#content table tr.bg-red td {background-color:#FF3333;}
#content dl dt {color:#df0000;}
#content fieldset {border:1px solid #ccc;}
#content legend {background:#FFF; color:#0085cc;}
#content acronym, #content abbr, #content .help {border-bottom:1px dotted #cfcfcf;}

/* =============================================================================
HTML - without styles
============================================================================= */

table.nostyle th, dl.nostyle dt {color:#303030 !important;}

/* =============================================================================
LAYOUT
============================================================================= */

#tray {background-color:#005533; color:#cfcfcf;}
#tray a, #tray strong {color:#fff;}
#tray a:hover, #tray a:active, #tray a:focus {color:#b4e3ff;}
#menu {background-color:#FF9900;}
#menu ul li a {background-color:#fff; color:#303030;}
#menu ul li a span {background-color:#FFF;}
#menu ul li a:hover, #menu ul li a:active, #menu ul li a:focus, #menu ul li#menu-active a {background-color:#FFF; color:#df0000;}
#menu ul li a:hover span, #menu ul li#menu-active a span {background-color:#FFF;}
#menu ul li#menu-active a {color:#0085cc;}
#menu ul.f-right a {color:#df0000;}
#content {border:1px solid #afafaf; background:#fff;}
#footer {color:#707070;}
#footer a {color:#707070;}
#footer a:hover, #footer a:active, #footer a:focus {color:#303030;}

/* =============================================================================
OTHERS
============================================================================= */

#aside #logo img {border:1px solid #bfbfbf;}
#aside #search fieldset a {color:#303030;}
#aside #search fieldset {border:1px solid #bfbfbf;}
#aside #search fieldset a:hover, #aside #search fieldset a:active, #aside #search fieldset a:focus {color:#df0000;}
#aside #btn-create a {background-color:#fff; color:#303030;}
#aside #btn-create a span {background-color:#fff;}
#aside ul li a {border-bottom:1px solid #cfcfcf; color:#303030;}
#aside ul li#submenu-active a {background-color:#df0000; color:#fff;}
#aside ul li a:hover, #aside ul li a:active, #aside ul li a:focus {color:#df0000;}
#aside ul ul li a, #aside ul li#submenu-active ul li a {border-bottom:1px solid #cfcfcf; background-color:#f5f5f5; color:#303030;}
#aside ul li ul li a {background-color:#e3e3e3;}
#aside ul ul li a:hover, #aside ul ul li a:active, #aside ul ul li a:focus, #aside ul li#submenu-active ul li a:hover, #aside ul li#submenu-active ul li a:active, #aside ul li#submenu-active ul li a:focus {color:#df0000;}
#content h1 {background-color:#303030; color:#fff;}
#content .tabs {border-bottom:1px solid #cfcfcf;}
#content .tabs a {color:#303030;}
#content .tabs a span {color:#303030;}
#content .tabs .ui-tabs-selected a {color:#fff;}
#content .tabs .ui-tabs-selected a span {color:#fff;}
.high {color:#df0000;}
.high-bg {background:#FFB;}
.low {color:#707070;}
span.error {color:red; font-weight:bold}
span.new {color:blue; font-weight:bold}
/* =============================================================================
MESSAGES
============================================================================= */

.msg.warning {border:2px solid #F2DD8C; background-color:#FFF5CC;}
.msg.warning a {color:#df0000;} .msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus {color:#303030;}
.msg.info {border:2px solid #B8E2FB; background-color:#E8F6FF;}
.msg.done {border:2px solid #BBDF8D; background-color:#EAF7D9;}
.msg.error {border:2px solid #FFAEAE; background-color:#FEEBEB;}

/* =============================================================================
TABLE SORTER
============================================================================= */
table.tablesorter {
	margin:10px 0pt 15px;
	width: 75%;
	text-align: left;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

div.gestion{
	background: #FDFCF6;
	margin-left: 30px;
	padding: 5px 0;
	display: none;
}
div.gestion span.tipogestion{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 11px;
	color: #888888;
}
div.gestion p.gestionado{
	color: red;
	font-weight: bold;
	font-size: 12px;
}
div.gestion span.usuario{
	color: #0085cc;
	font-weight: bold;
	font-size: 10px;
}

.buttonsRenov{
	color: #3311AA;
	font-weight: bold;
	font-size: 14px;
	width: 180px;
	height: 60px;
	border: 2px solid #777777;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

#aproveRenov{
	right: 10px;
	margin: 20px 10px 20px 100px;
	background: url(../img/check-icon.png) left center no-repeat;
}
#cancelRenov{
	background: url(../img/cancel-icon.png) left center no-repeat;
}
#regRenov{
	left: 10px;
	margin: 20px 100px 20px 10px;
	background: url(../img/back-icon.png) left center no-repeat;
}

#saveRenov{
	right: 10px;
	margin: 20px 10px 20px 100px;
	text-aling: right;
	background: url(../img/save-icon.png) left center no-repeat;
}

#listaNegra{
	width: 100px;
	height: 30px;
	position: absolute;
	left: 200px;
	bottom: 25px;
	margin-top: 10px;
}

.matchLN{
	font-weight: bold;
	color: red;
}

/* =============================================================================
CHAT BUTTON
============================================================================= */
#chat-button{
	display:block;
	position:fixed;
	bottom:0px;
	right:0;
}

/* =============================================================================
FOOTER FOR DEVELOPMENT
============================================================================= */
#footer_dev {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#FFF5CC;
   text-align: center;
   color: red;
   font-weight: bold;
   border: 2px solid #F2DD8C;
}

select option {
    background-color: #FFF;
}
